<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>latitude</key>
		<real>34.106459</real>
		<key>longitude</key>
		<real>-117.710106</real>
		<key>description</key>
		<string></string>
		<key>name</key>
		<string>Jay&apos;s Place</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>34.10588</real>
		<key>longitude</key>
		<real>-117.70983</real>
		<key>description</key>
		<string></string>
		<key>name</key>
		<string>Hoch-Shanahan</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>34.10637</real>
		<key>longitude</key>
		<real>-117.707584</real>
		<key>description</key>
		<string></string>
		<key>name</key>
		<string>Linde Activity Center</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>34.106475</real>
		<key>longitude</key>
		<real>-117.709806</real>
		<key>description</key>
		<string></string>
		<key>name</key>
		<string>Platt</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>34.10631</real>
		<key>longitude</key>
		<real>-117.710991</real>
		<key>description</key>
		<string></string>
		<key>name</key>
		<string>Shanahan</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>34.106508</real>
		<key>longitude</key>
		<real>-117.711967</real>
		<key>description</key>
		<string></string>
		<key>name</key>
		<string>Parsons</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>34.106093</real>
		<key>longitude</key>
		<real>-117.712731</real>
		<key>description</key>
		<string></string>
		<key>name</key>
		<string>Olin</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>34.106103</real>
		<key>longitude</key>
		<real>-117.711724</real>
		<key>description</key>
		<string></string>
		<key>name</key>
		<string>Galileo</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>34.106093</real>
		<key>longitude</key>
		<real>-117.712649</real>
		<key>description</key>
		<string></string>
		<key>name</key>
		<string>Beckman</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>34.105731</real>
		<key>longitude</key>
		<real>-117.712168</real>
		<key>description</key>
		<string></string>
		<key>name</key>
		<string>Keck</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>34.105713</real>
		<key>longitude</key>
		<real>-117.711782</real>
		<key>description</key>
		<string></string>
		<key>name</key>
		<string>Jacobs</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>34.106113</real>
		<key>longitude</key>
		<real>-117.712203</real>
		<key>description</key>
		<string></string>
		<key>name</key>
		<string>Sprague</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>34.105702</real>
		<key>longitude</key>
		<real>-117.708228</real>
		<key>description</key>
		<string></string>
		<key>name</key>
		<string>East Dorme</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>34.105691</real>
		<key>longitude</key>
		<real>-117.708901</real>
		<key>description</key>
		<string></string>
		<key>name</key>
		<string>West Dorme</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>34.106432</real>
		<key>longitude</key>
		<real>-117.708223</real>
		<key>description</key>
		<string></string>
		<key>name</key>
		<string>North Dorme</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>34.106466</real>
		<key>longitude</key>
		<real>-117.708888</real>
		<key>description</key>
		<string></string>
		<key>name</key>
		<string>South Dorme</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>34.105537</real>
		<key>longitude</key>
		<real>-117.706745</real>
		<key>description</key>
		<string></string>
		<key>name</key>
		<string>Atwood Dorme</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>34.105537</real>
		<key>longitude</key>
		<real>-117.70594</real>
		<key>description</key>
		<string></string>
		<key>name</key>
		<string>Case Dorme</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>34.105966</real>
		<key>longitude</key>
		<real>-117.705476</real>
		<key>description</key>
		<string></string>
		<key>name</key>
		<string>Linde Dorme</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>34.106419</real>
		<key>longitude</key>
		<real>-117.706758</real>
		<key>description</key>
		<string></string>
		<key>name</key>
		<string>Sontag Dorme</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>34.105835</real>
		<key>longitude</key>
		<real>-117.710993</real>
		<key>description</key>
		<string></string>
		<key>name</key>
		<string>Kingston</string>
	</dict>
</array>
</plist>
